.goodsWrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
}

.productWrap {
    width: 19%;
    text-align: center;
    background: white;
    margin-bottom: 35px;
    position: relative;
}

.productImage {
    position: relative;
    overflow: hidden;
}
.productImage a {
    display: block;
}
.productImage img {
    display: block;
    width: 100%;
}
.shadow {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease-in-out;
}
.productWrap:hover .shadow {
    opacity: 1;
}
.detailLink {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #f47b00;
    border-radius: 3px;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: .3s ease-in-out;
}

.detailLink:before {
    content: '\1F441';
    font-family: FontAwesome;
    color: white;
    font-size: 20px;
    display: block;
    height: 50px;
    line-height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    transition: .3s ease-in-out;
}
.productWrap:hover .detailLink {
    opacity: 1;
    top: 50%;
}
.actions {
    width: 100%;
    height: 47px;
    position: absolute;
    bottom: -47px;
    right: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.productWrap:hover .actions {
    bottom: 0;
    opacity: 1;
}
.actionsBtn {
    float: right;
}
.actionsBtn a {
    display: inline-block;
    background: white;
    color: #555;
    width: 47px;
    height: 47px;
    line-height: 47px;
    text-decoration: none;
    transition: .3s ease-in-out;
}
.actionsBtn a:hover {
    background: #f47b00;
    color: white;
}
.actionsBtn a:after {
    font-family: FontAwesome;
    font-size: 18px;
}
.addToCart:after {
    content: "\1F6D2";
}
.addToWishlist:after {
    content: "\2661";
}
.addToCompare:after {
    content: "\2B82";
}
.productList {
    margin: 20px 0;
    font-family: 'Open Sans', serif;
    position: relative;
}
.productList h3 {
    color: #555;
    font-size: 15px;
}
.price {
    font-weight: bold;
    font-size: 18px;
    color: #f47b00;
}

/*количество просмотров под товаром*/
.visibilityIconWrap {
    width: 100%;
    display: flex;
    justify-content: start;
    position: absolute;
    bottom: -30px;
    left: 10px;
    align-items: center;
}

.visibility_icon {
    color: darkgray;
    margin-right: 10px;
}